<main>
    <section class="tasks">
        {{#each tarefas}}
            <div class="task">
                <form action="">
                   
                        <div class="completa">
                            <input type="checkbox" id="task-{{this.id}}" checked onchange="descompletarTarefa({{this.id}})">
                            <label for="task-{{this.id}}">{{this.descricao}}</label>
                        </div>

                        <div>
                            <input type="checkbox" id="task-{{this.id}}" onchange="completarTarefa({{this.id}})">
                            <label for="task-{{this.id}}">{{this.descricao}}</label>
                        </div>
                    <button>
                        <img src="/imagens/x-icon.png" alt="icone para excluir tarefa">
                    </button>
                </form>
            </div>
        {{/each}}
        <div class="info">
            <p>{{quantidadeTarefas}} active tasks</p>

            <div class="buttons">
                <a href="/">All</a>
                <a href="/ativas"class="active">Active</a>
                <a href="/completas">Completed</a>
            </div>

            <a href="">Clear Completed</a>
        </div>
    </section>
    
    <section class="buttons">
        <a href="/">All</a>
        <a href="/ativas"class="active">Active</a>
        <a href="/completas">Completed</a>
    </section>
</main>